force-app/main/default/flows/Employee_Bank_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Employee_Record</name>
        <label>Add Employee Record</label>
        <locationX>142</locationX>
        <locationY>208</locationY>
        <actionName>BankService_addAccount__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account_type</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountTypeField.Account_Type__c</assignToReference>
            <name>accountDetails_availableBal_201</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account_type</name>
        <label>Update Account type</label>
        <locationX>147</locationX>
        <locationY>313</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>141</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_Information</startElementReference>
    <status>Draft</status>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
